
body {
    color: #23282d;
}

a {
    color: #23282d;
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s all;
}

button {
    cursor: pointer;
}

a:hover {
    color: #6ab2d3;
    text-decoration: none;
}

table {
    width: 100%;
}

.table thead th {
    text-align: center;
}

.table th, .table td {
    vertical-align: middle;
}

.table .past {
    /*background: rgba(152, 152, 152, 0.68);*/
    /*color:white;*/
}

.table .now {
    background: #6ab2d3;
    color: white;
    position: relative;
}

.table .now td {
    position: relative;
}

table p {
    margin-bottom: 0px;
}

.table .now td:first-child:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    content: "\f12a";
    display: inline-block;
    color: #db302a;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.table .future {

}

.admin-panel {
    min-height: 100vh;
    padding-top: 100px;
    background: #23282d;
    text-align: left;
}

.admin-panel-background div {
    margin: 20px 0;
    padding-left: 20px;
}

#admin-panel-nav form button {
    color: white;
    background: none;
    border: none;
    padding: 15px;
    font-size: 20px;
    transition: 0.5s all;
}

#admin-panel-nav form button:hover {
    color: #6ab2d3;
}

.admin-panel a {
    color: white;
    padding: 15px;
    font-size: 20px;
}

.admin-panel a:hover {
    color: #6ab2d3;
}

.admin-content {
    padding: 15px;
}

.admin-content h1 {
    text-align: center;
}

/*Buttons*/
.btn-outline-primary {
    margin: 5px 0;
    color: #6ab2d3;
    border-color: #6ab2d3;
}

.btn-outline-primary:hover {
    color: white;
    background: #6ab2d3;
    border-color: #6ab2d3;
}

.select-primary:hover {
    background: transparent;
    color: #6ab2d3;
}

.btn-secondary {
    background: #db4c52;
    color: white;
    border-color: #db4c52;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 5px 0;
}

.btn-secondary:hover {
    background: #db302a;
    color: white;
    border-color: #db302a;
}

.cat-wrapper {
    display: inline-block;

}

.category-tags {
    display: inline-block;
    padding: 5px 10px;
    background: #db302a;
    color: white;
    border-radius: 10px;
}

.category-tags:hover {
    color: white;
    background: #bb0407;
}

.category-tags a:hover div {
    background: #db302a;
    color: white;
    border-color: #db302a;
}

/*Forms*/
.form-default {

}

.form-default input {
    display: inline-block;
}

.center {
    margin: 0 auto;
}

.form-group label {

}

textarea.form-control {
    padding-left: 15px;
}

.admin-content {
    text-align: center;
}

.errors {
    text-align: center;
    width: auto;
    display: inline-block;
}

.panel-default {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 25px;
}

/*Main Index*/
.page-title {
    font-size: 62px;
    line-height: 140%;
    text-align: center;
}

.filter-button-group {
    text-align: center;
}

.filter-button {
    background: #db4c52;
    color: white;
    border-color: #db4c52;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 15px 15px;

}

.filter-button:hover {
    background: #db302a;
    color: white;
    border-color: #db302a;
}
.login-button {
    display: inline-block;

}
.login-button button {
    background: transparent;
    border: none;
    font-size:25px;
}
.login {
    text-align: right;
    padding-top: 15px;
}
.login a {
    font-size:25px;
}
/*Product*/
.product-wrapper h2 {
    text-align: center;
}

.product-category {
    width: 100%;
    text-align: center;
}
.product-supplier{
 text-align: center;
    font-size: 17px;
    font-weight:500;
}

.product-description {
    padding: 15px;
    text-align: center;
}

#add-to-basket {
    margin-top: 15px;
    text-align: center;
}

/*basket-wrapper*/
.basket-product {
    padding: 15px;
    margin-bottom: 20px;
}

.basket-wrapper h2 {
    text-align: left;
}

.basket-wrapper .basket-img {
    float: left;
    max-width: 200px;
    height: auto;
}

.product-info-basket {
    float: left;
    padding: 5px 15px 15px;
    display: block;
}

.price {
    text-align: center;
}

.price span {
    color: #db302a;
    font-weight: bold;
    border: 1px solid #db302a;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius: 10px;
    padding: 15px;
    margin-top: 20px;
    display: inline-block;
}
.product-info-basket .price  {
    text-align: left;
}
.delete-product-basket{
    width:100%;
}
.product-info-basket .price span{
    padding: 8px;
    margin-top: 5px;
}

.total-wrapper{
    border: 1px solid #db302a;
    font-weight:bold;
    padding:30px;
}
.total-wrapper .red{
    color: #db302a;
    font-size:22px;
}
.carousel-wrapper{
    max-width: 700px;
    margin:0 auto;
}
.carousel-item{
    max-height: 500px;
}
#carouselProducts{

}