<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: header">
</head>

<body>
<div class="container-fluid">

    <div class="row">
        <nav th:replace="admin/admin-panel :: admin-panel">
        </nav>

        <div id="admin-panel-content" class="admin-content col-xl-10 col-lg-10 col-md-10 col-sm-10 col-10">
            <h1>Add Product</h1>
            <div id="products">
                <form class="form-default col-6 center" enctype="multipart/form-data" th:method="post" action="">
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Name:</label>
                        <input class="form-control col-8" id="name" type="text" th:name="name">
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Description:</label>

                        <textarea class="form-control col-8" id="description" type="text" th:name="description">
                    </textarea>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Expire Date</label>
                        <input class="form-control col-8" id="date" type="date" th:name="date"
                               th:min="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"
                        th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}">
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Price:</label>
                        <input class="form-control col-8" id="price" type="number" th:name="price">
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Supplier:</label>
                        <select name="supplier">
                            <option th:each="supplier:${availableSupplier}" th:text="${supplier.getName()}" th:value="${supplier.getId()}"></option>
                        </select>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Img to Upload:</label>
                        <input class="form-control col-8" id="file" type="file" th:name="file">
                    </div>
                    <div class="form-group row cat-group">
                        <div class="col-3" th:each="category,iterCount:${availableCategory}">
                            <p><label th:text="${category.getName()}"></label>
                                <input class="form-control-checkbox" th:type="checkbox"
                                       th:name="category"
                                       th:value="${category.getSlug()}">
                            </p>
                        </div>
                    </div>

                    <button class="btn btn-secondary" th:name="submit" id="submit" th:text="Submit"
                            th:value="submit"></button>

                </form>
                <div th:text="${error}" th:if="${errorContainer}" th:each="error,iterCount :${errorContainer}"
                     class="alert alert-danger errors">
                </div>
                <div>
                    <a class="btn btn-outline-primary" th:text="'Back'" th:href="@{~/admin/products/}"></a>
                </div>
            </div>
            <div th:replace="footer :: copy"></div>
        </div>
    </div>
</div>


</body>