<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: header">
</head>
<body>
<div class="container">
    <div class="login"><a th:href="@{~/login/}"><i class="fa fa-sign-in" aria-hidden="true"></i>
        Login In </a></div>
    <h1>Incoming Events</h1>
    <div class="info" th:text="${Msg}"></div>
    <div class="filter-button-group">
        <button class="filter-button is-checked" data-filter="*">Show all</button>
        <button th:each="category:${allCategoires}" th:class="filter-button" th:data-filter="'.'+${category.getSlug()}"
                th:text="${category.getName()}"></button>
    </div>
    <div class="row products-grid">

        <div class="col-4" th:each="product,counter:${eventContaienr}"
             th:class="'element-item col-4 '+${product.getClassSlug()}">
            <div class="product-wrapper">
                <h2 th:text="${product.getName()}"></h2>
                <div th:class="${UtilityClass.calculateClass(product.getDate(),currentDate)}">
                    <p class="product-date" th:text="${#dates.format(product.getDate(), 'yyyy-MM-dd')}"></p>

                    <p class="product-description" th:text="${product.getDescription()}"></p>
                    <div th:class="'cat-wrapper product-category'"
                         th:each="category,catIterCounter :${product.getCategories()}">
                        <span th:class="category-tags">
                            <span th:text="${category.getName()}"> </span>
                        </span>
                    </div>
                    <form th:action="@{~/basket/add/}" method="post">
                        <input type="hidden" th:id="'product-id' + ${product.getId()}" name="add_product" th:value="${product.getId()}">
                        <button th:type="submit" class="cat-wrapper">Add To Basket</button>
                    </form>

                </div>
            </div>

        </div>
    </div>


</body>
<script type="text/javascript" th:src="@{~/js/jquery-3.2.1.min.js}"></script>
<script type="text/javascript" th:src="@{~/js/isotope.pkgd.min.js}"></script>
<script type="text/javascript" th:src="@{~/js/main.js}"></script>
</html>