<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: header">
</head>

<body>
<div class="container">
    <div class="row">
        <div id="admin-panel-content" class="admin-content col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <h1>Login Panel</h1>
            <form class="form-default col-6 center" method="post" action="">
                <div class="form-group row">
                    <label class="col-2 col-form-label">Username: </label>
                    <input class="form-control col-8"  id="username" type="text" th:name="username">
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label">Password: </label>
                    <input class="form-control col-8"  id="password" type="password" th:name="password">
                    </input>
                </div>
                <button class="btn btn-secondary" th:name="submit" id="submit" th:text="Submit"
                        th:value="submit"></button>

            </form>
            <div th:text="'Your Login or Password are incorrect'" th:if="${authenticationFailed}">
                 class="alert alert-danger errors">
            </div>
            <!--authenticationFailed-->
            <div th:replace="footer :: copy"></div>
        </div>
    </div>
</div>


</body>
</html>