<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: header">
</head>

<body>
<div class="container-fluid">

    <div class="row">
        <nav th:replace="admin/admin-panel :: admin-panel">
        </nav>

        <div id="admin-panel-content" class="admin-content col-xl-10 col-lg-10 col-md-10 col-sm-10 col-10">
            <h1>Add Supplier</h1>
            <div id="products">
                <form class="form-default col-6 center" th:method="post" action="">
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Name:</label>
                        <input class="form-control col-8" id="name" type="text" th:name="name">
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Address:</label>

                        <textarea class="form-control col-8" id="description" type="text" th:name="address">
                    </textarea>
                    </div>

                    <button class="btn btn-secondary" th:name="submit" id="submit" th:text="Submit"
                            th:value="submit"></button>

                </form>
                <div th:text="${error}" th:if="${errorContainer}" th:each="error,iterCount :${errorContainer}"
                     class="alert alert-danger errors">
                </div>
                <div>
                    <a class="btn btn-outline-primary" th:text="'Back'" th:href="@{~/admin/products/}"></a>
                </div>
            </div>
            <div th:replace="footer :: copy"></div>
        </div>
    </div>
</div>


</body>